<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.mz.auth.mapper.SysStuMapper">

    <sql id="whereSql">
        <where>
            <if test="username!=null and username !=''">
                and username like concat('%',#{username},'%')
            </if>

        </where>
    </sql>

    <select id="queryTotal" parameterType="sysStuQuery" resultType="java.lang.Long">
        select count(*) from t_student
        <include refid="whereSql"/>
    </select>
    <!--    分页的数据-->
    <select id="queryData" parameterType="sysStuQuery" resultType="Student">
        select * from t_student
        <include refid="whereSql"/>
        limit #{offset},#{page}
    </select>

</mapper>